src/node_modules
src/public/hot
src/public/storage
src/storage/*.key
src/bootstrap
src/storage
src/log
src/vendor
src/.idea
src/.vscode
src/.vagrant
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/yarn-error.log
src/.env
nbproject/*
.idea
.vscode
.vagrant
.env
log/*
*.tgz
*.tar.gz
*.zip
*.rar